{% extends "layout.html" %}

{% set page_title = 'Game Modifications Downloads' %}

{% block content %}
<div class="col-lg-12">
    <h1>Albian Warp Game Modifications Downloads</h1>
    <br />
    <h2>Latest Albian Warp Game Modifications</h2>
    <br />
    <div class="card">
        <h3 class="card-header">{{ latest_release.name }}</h3>
        <div class="card-block px-3 mb-3 mt-2">
            <h5 class="card-title">Version: {{ latest_release.tag_name }}</h5>
            <p class="card-text">{{ latest_release.body }}</p>
            <h5>Downloads:</h5>
            <ul>
                <li><a href="{{ latest_release.zipball_url }}">ZIP Download</a></li>
            </ul>
        </div>
    </div>
    <br />
    <h2>Older Albian Warp Game Modificationss</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Version</th>
                <th scope="col">Name</th>
                <th scope="col">Link</th>
            </tr>
        </thead>
        <tbody>
        {% for release in releases %}
        {% if release.tag_name != latest_release.tag_name %}
            <tr>
                <th scope="row">{{ release.tag_name }}</th>
                <td>{{ release.name }}</td>
                <td><a href="{{ release.html_url }}">{{ release.html_url }}</a></td>
            </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>
    <h2>Cached Github API</h2>
    <ul>
        <li><a href="/game_modifications_latest.json">/game_modifications_latest.json</a> </li>
        <li><a href="/game_modifications_releases.json">/game_modifications_releases.json</a> </li>
    </ul>
</div>
{% endblock %}