{% extends "layout.html" %}
{% set page_title = 'Home' %}

{% block content %}
<div class="col-lg-12">
    <br />
    <h1>Albian Warp Gameserver</h1>
    <p>This is the Albian Warp Game Server!</p>
    <p><a href="/register">Go here to setup your Albian Warp account.</a></p>
    <p>News about The Albian Warp Project can be found on <a href="https://blog.albianwarp.com/">blog.albianwarp.com</a></p>
    <p>Albian Warp is Open Source! checkout the <a href="https://github.com/AlbianWarp">Github Team </a></p>
</div>
{% endblock %}