{% macro render_navigation(pages, current_page) %}
  <ul class="navbar-nav ml-auto">
  {% for page in pages %}
  <li class="nav-item{% if page.title == current_page %} active{% endif %}">
    <a class="nav-link" href="{{ page.path }}">{{ page.title }}</a>
  </li>
  {% endfor %}
  </ul>
{% endmacro %}

{%  set pages = [
{'title': 'Home', 'path': '/home'},
{'title': 'Client Downloads', 'path': '/client_downloads'},
{'title': 'Register', 'path': '/register'}
] %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Albian Warp Gameserver- {{ page_title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/sticky-footer.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <style>
      body {
        padding-top: 54px;
      }
      @media (min-width: 992px) {
        body {
          padding-top: 56px;
        }
      }

    </style>

  </head>

  <body>
<main>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#" style="larger; font-weight: bold;">Albian Warp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          {{ render_navigation(pages, page_title) }}
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
      <div class="row">
        {% block content %}{% endblock %}
      </div>
    </div>
  </main>
    <!-- Bootstrap core JavaScript -->
    <script src="static/js/jquery.js"></script>
    <script src="static/js/bootstrap.bundle.js"></script>
    <footer class="footer">
      <div class="container">
        <span class="text-muted">Please read our <a href="/tos">Terms of Service</a> and <a href="privacy_policy">Privacy Policy</a>. Thank You!</span>
      </div>
    </footer>

  </body>

</html>
