{% extends "layout.html" %}
{% macro render_field(field) %}
  <dt>{{ field.label }}
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    {% for error in field.errors %}
        <div class="alert alert-danger" style="width: 250px;">{{ error }}</div>
    {% endfor %}
  {% endif %}
  </dd>
{% endmacro %}

{% set page_title = 'Login' %}

{% block content %}
<div class="col-lg-12">
    <h2>Login</h2>
    {% if message %}
    <div class="alertalert-danger" role="alert">
        {{ message }}
    </div>
    {% endif %}

    <form name="login_form"  method="POST">
        {{ form.csrf_token }}
        <dl>
            {{ render_field(form.username) }}
            {{ render_field(form.password) }}
        </dl>
        <p></p><input type="submit" class="btn btn-primary" value="login">
    </form>
</div>
{% endblock %}