{% extends "layout.html" %}
{% set page_title = 'Privacy Policy' %}

{% block content %}
<div class="col-lg-12">
    <br />
    <h1>Privacy Policy</h1>
    <p>We want to be transparent with you about how we collect and use your Personal Data when you visit our website available at www.Albian Warp.com or any other Albian Warp service referencing this Website Privacy Policy (collectively, the “AW Service”).</p>

    <h2>Who we are</h2>
    <p>Albian Warp is a Open Source Community Project aiming to replace the defunct online functionality of the game <a href="https://creatures.wiki/Docking_Station">Creatures Docking Station</a>, albianwarp.com is the official Web presence of the Project. </p>

    <h2>What we do</h2>
    <p>Our goal is it to develop and provide a easy to use replacement for the defunct online features and to run a free Gameserver that enables online play for Creatures Dockingstation</p>

    <h2>What Data we collect and why we collect it</h2>
    <p>This Privacy Policy describes what data we collect and what it is used for.</p>
    <h2>What Data do we collect</h2>
    <p>This table outlines what Data The Albian Warp Gameserver collects</p>
    <table class="table">
        <tr>
            <th>Category</th>
            <th>What this Means</th>
            <th>How we collect it</th>
        </tr>
        <tr>
            <td>Account Information</td>
            <td>Username, email address, profile picture, passwords and security protocols of users who maintain an account for any of Albian Warps services.</td>
            <td>Through your active submission via the <a href="/register">Registration Form</a> when you create an account with Albian Warp.</td>
        </tr>
        <tr>
            <td>Game Information</td>
            <td>Messages, Creatures, and user specified data generated and sent either via the Albian Warp Game Client or Website</td>
            <td>Through your active submission via the corresponding Form on the Albian Warp Gameserver Website or via the Albian Warp Game Client.</td>
        </tr>
        <tr>
            <td>Log Records</td>
            <td>Log records contain your logged-in status, key value records and reference data regarding your interaction with Albian Warp, infrastructure and tools, those Information are tied to your <b>Account Information</b></b>. </td>
            <td>Through your interaction with Albian Warp either via the Albian Warp Gameserver Website or via the Albian Warp Game Client.</td>
        </tr>
    </table>
    <h2>How we use your Data and why.</h2>
    <p>This Table outlines What we use your Data for and why</p>
    <table class="table">
        <tr>
            <th>Purpose</th>
            <th>Categories of Data involved</th>
            <th>Why do we do this</th>
        </tr>
        <tr>
            <td>To provide you with access to AW Services</td>
            <td>Account Information</td>
            <td>The <i>Account Information</i>, especially the <b>Username</b> and <b>Password</b>, is used and needed to authenticate you as the owner of your account, and to protect your Account from unauthorized access.</td>
        </tr>
        <tr>
            <td>Troubleshooting</td>
            <td>Log Records</td>
            <td>We use Log Records to track issues that might be occurring on our systems and to track down or validate <a href="/tos">Terms of Service</a> violations like attacks on our Service, Systems or Users.</td>
        </tr>
        <tr>
            <td>To provide you with the Albian Warp Service/Functionality</td>
            <td>Account Information, Game Information</td>
            <td>To be able to provide you and other Users with the functionality and service to send and receive <b>Creatures</b>, <b>Messages</b> and other <b>Game related data</b> we use and show your <b>Username</b> and <b>online status</b> to other logged in Users.<br />
            <b>Creatures</b> and <b>Messages</b> sent to you are associated with your Account Information so they can be received by you</td>
        </tr>
        <tr>
            <td>To Contact you</td>
            <td>Account Information</td>
            <td>We use your <i>Account Information</i>, especially your <b>Username</b> <b>email address</b> to contact you regarding your account. if you violate the ToS, reset your password, or to send you Security notices, <a href="/tos">Terms of Service</a> update notices and Privacy Policy update notices.</td>
        </tr>
        <tr>
            <td>To Measure usage of Albian Warp</td>
            <td>Log Records, Game Information</td>
            <td><i>Log Records</i>, and <i>Game Information</i> are used to create anonymized statistics and charts. Said statistics and charts are made public on, but not limited to Albian Warp Services</td>
        </tr>
    </table>

    <h2>How long we store your Data</h2>
    <p>We will only retain your Personal Data for so long as we reasonably require it to use it for the purposes set out above.</p>
    <table class="table" >
        <tr>
            <th>Category of Data</th>
            <th>Retention Period</th>
        </tr>
        <tr>
            <td>Account Information</td>
            <td>Your Account Information will be deleted after 2 Years (730 Days) of inactivity, when your account is deleted all linked <i>Game Information</i> are permanently deleted as well (i.E. Creatures and Messages sent, to you/from you that are not yet received).</td>
        </tr>
        <tr>
            <td>Game Information</td>
            <td>Game Information is only kept as long as it needed, i.E. a sent <b>Creature</b> is permanently deleted from the Albian Warp Server once it is received by the recipient user, the same applies to <b>Messages</b> and all other Game related Data.</td>
        </tr>
        <tr>
            <td>Log Records</td>
            <td>We keep Log Records for a maximum of a Month (31 Days) after which they are automatically and permanently deleted.</td>
        </tr>
    </table>

    <h2>How we keep your Data secure</h2>
    <ul>
        <li>We have put in place appropriate security measures to prevent your Data from being accidentally lost, used or accessed in an unauthorized way, altered or disclosed.</li>
        <li>We limit access to your data to the people and staff that run Albian Warp and need to have such access. All such people are subject to a duty of confidentiality.</li>
        <li>We have put in place procedures to deal with any actual or suspected Personal Data breach. In certain circumstances (e.g., where we are legally required to do so) we may notify you of this breach using your <b>Account Information</b>.</li>
    </ul>

    <h2> What "Your Rights" are.</h2>

    <h3>Erasure.</h3>
    <p>You may have the right to request that we erase Personal Data we hold about you in certain situations. You can exercise these rights by contacting us at <a href="mailto:privacy@albianwap.com">privacy@albianwap.com</a>. If you don’t have any account with us, we don’t have a way to identify your data by name in our systems, so, in such case, we may need to request certain information from you to complete this request.</p>
    <p>When we receive any request to erase your Personal Data, we will try to comply with it as soon as reasonably practicable and (in any event) within forty-five (45) days.</p>
    <h3>Access.</h3>

    <p>In certain situations, you may have the right to request access to the Personal Data associated with your account and/or your Account. You can exercise this right by contacting us at <a href="mailto:privacy@albianwap.com">privacy@albianwap.com</a>. If you don’t have any account with us, we don’t have a way to identify your data by name in our systems, so, in such case, we may need to request certain information from you to complete this request.</p>
    <p>When we receive a request, pursuant to the previous paragraph, to provide you with the Personal Data associated with your account we will try to comply with it as soon as reasonably practicable and (in any event) within forty-five (45) days.</p>
    <h3>Correction and amendment.</h3>

    <p>If you have any account with us, you can correct your account information directly through your account. However, if you believe we hold information about you that that you are unable to correct or amend through your account, we recommend you contact us at: <a href="mailto:privacy@albianwap.com">privacy@albianwap.com</a>.</p>

    <h3>Complaints.</h3>
    <p>If you would like to make a complaint regarding this our Privacy Policy or our practices in relation to your Personal Data, please contact us at privacy@albianwarp.com.</p>
    <p>We will try to reply to your complaint as soon as as we can and (in any event) within forty-five (45) days.</p>
</div>
{% endblock %}