{% extends "layout.html" %}
{% set page_title = 'Terms of Service' %}

{% block content %}
<div class="col-lg-6">
    <br />
<h1>Terms of Service</h1>
<br />
<h2>Acceptance of Terms</h2>
<p>The Albian Warp Project ("AW") provides the information on this Web site as provided in these Terms of Service ("TOS"). AW may update the TOS at any time and without prior notice. The information on this site and your use of it is subject to the most recent version of the TOS posted.</p>

<h2>Description of Service</h2>
<p>AW provides you with access to this Website, the Online Functionality provided by the Albian Warp Gameserver and a variety of other services. ("AW Service"). Unless explicitly stated otherwise, any new features that augment or enhance the current AW Service shall be subject to the TOS.</p>

<h2>Your registration Obligations</h2>
<p>In consideration of your use of the AW Service, you represent that you are of legal age to access and use AW Services and are not a person barred from receiving services under applicable jurisdiction.</p>

<h2>AW Privacy Policy</h2>
<p>Registration Data and certain other information about you is subject to our Privacy Policy.</p>

<h2>Conduct</h2>
<p>You understand that all information, data, text, creatures, graphics or other materials ("Content"), whether publicly posted or privately transmitted, are the sole responsibility of the person from whom such Content originated. This means that you, and not AW, are entirely responsible for all Content that you upload, post, email, transmit or otherwise make available via the AW Service. AW does not control the Content posted via the AW Service and, as such, does not guarantee the accuracy, integrity or quality of such Content. Under no circumstances will AW be liable in any way for any Content, including, but not limited to, any errors or omissions in any Content, or any loss or damage of any kind incurred as a result of the use of any Content posted, emailed, transmitted or otherwise made available via the AW Service. You agree to not use the AW Service to:
<ol>
    <li>upload, post, email, transmit or otherwise make available any Content that is unlawful, harmful, threatening, abusive, harassing, tortuous, defamatory, vulgar, obscene, libelous, invasive of another's privacy, hateful, or racially, ethnically or otherwise objectionable or harm minors;</li>
    <li>impersonate any person or entity or falsely state or otherwise misrepresent your affiliation with a person or entity;</li>
    <li>forge headers or otherwise manipulate identifiers in order to disguise the origin of any Content transmitted through the AW Service;</li>
    <li>upload, post, email, transmit or otherwise make available any Content that you do not have a right to make available under any law or under contractual or other relationships;</li>
    <li>upload, post, email, transmit or otherwise make available any Content that infringes any patent, trademark, trade secret, copyright or other proprietary rights of any party;</li>
    <li>upload, post, email, transmit or otherwise make available any unsolicited or unauthorized advertising, promotional materials, "junk mail," "spam," or any other form of solicitation;</li>
    <li>upload, post, email, transmit or otherwise make available any material that contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment;</li>
    <li>disrupt the normal flow of dialogue, or otherwise act in a manner that negatively affects other users' ability to engage in discussions or exchanges;</li>
    <li>interfere with or disrupt the AW Service or servers or networks connected to the AW Service, or disobey any requirements, procedures, policies or regulations of networks connected to the AW Service;</li>
    <li>intentionally or unintentionally violate any applicable local, state, national or international law,</li>
    <li>"stalk" or otherwise harass another; and/or</li>
    <li>collect or store personal data about other users in connection with the prohibited conduct and activities set forth in paragraphs above. You acknowledge that AW may or may not pre-screen Content, but that AW and its designees shall have the right (but not the obligation) in their sole discretion to pre-screen, refuse, move, or remove any Content that is available via the AW Service and which violates the TOS. You agree that you must evaluate, and bear all risks associated with, the use of any Content, including any reliance on the accuracy, completeness, or usefulness of such Content. You acknowledge, consent and agree that AW may access, preserve and disclose your account information and Content if required to do so by law or in a good faith belief that such access preservation or disclosure is reasonably necessary to:<ol>
        <li>comply with legal process;</li>
        <li>enforce the TOS;</li>
        <li>respond to claims that any Content violates the rights of third parties;</li>
        <li>respond to your requests for customer service; or (e) protect the rights, property or personal safety of AW its users and the public.</li>
    </ol>
    </li>
</ol></p>


<h2>Content made available on the AW Service</h2>
<p>AW does not claim ownership of Content you submit or make available for inclusion via the AW Service. However, with respect to Content you submit or make available for inclusion on the publicly available AW Service, you irrevocably grant AW the perpetual, worldwide, royalty-free and non-exclusive license, to distribute, reproduce, modify, adapt, publicly perform and publicly display such Content, in whole or in part, on the AW Service or other publications by AW.</p>

<h2>Idemnity</h2>
<p>You agree to indemnify and hold AW and its affiliates, officers, agents, partners and licensors harmless from any claim or demand, including but not limited to reasonable attorneys' fees, made by any third party due to or arising out of Content you submit, post, transmit or otherwise make available through the Service, your use of the AW Service, your connection to the Service, your violation of the TOS, or your violation of any rights of another.</p>

<h2>Modifications to AW Service</h2>
<p>You acknowledge that AW may establish general practices and limits concerning use of the AW Service, including without limitation the maximum number of days that email messages, message board postings or other uploaded Content will be retained by the AW Service.. You further acknowledge that AW reserves the right to modify these general practices and limits from time to time. AW reserves the right at any time and from time to time to modify or discontinue, temporarily or permanently, the AW Service (or any part thereof) with or without notice. You agree that AW shall not be liable to you or to any third party for any modification, suspension or discontinuance of the AW Service.</p>

<h2>Termination</h2>
<p>You agree that AW may terminate your access to the AW Service for violations of the TOS and/or requests by authorized law enforcement or other government agencies.</p>

<h2>Links</h2>
<p>The AW Service may provide, or third parties may provide, links to other World Wide Web sites or resources. Because AW has no control over such sites and resources, you acknowledge and agree that AW is not responsible for the availability of such external sites or resources, and does not endorse and is not responsible or liable for any Content, advertising, products or other materials on or available from such sites or resources. You further acknowledge and agree that AW shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such Content, goods or services available on or through any such site or resource.</p>

<h2>Disclaimer of Warranties</h2>
<p>You expressly understand and agree that: Your use of the AW service is at your sole risk. AW service is provided on an "as is" and "as available" basis. AW and its affiliates, officers, employees and licensors expressly disclaim all warranties of any kind, whether express or implied, including, but not limited to the implied warranties of merchantability, fitness for a particular purpose and non-infringement. AW and its affiliates, officers, employees and licensors make no warranty that
<ol>
    <li>The AW service will meet your requirements;</li>
    <li>The AW service will be uninterrupted, timely, secure or error-free and</li>
    <li>The results that may be obtained from the use of the AW service will be accurate or reliable. No advice or information, whether oral or written, obtained by you from AW or through or from the service shall create any warranty not expressly stated in the TOS.</li>
</ol>
</p>

<h2>Limitation of Liability</h2>

<p>You expressly understand and agree that AW and its affiliates, officers, employees, agents, partners and licensors shall not be liable to you for any direct, indirect, incidental, special, consequential or exemplary damages, including, but not limited to, damages for loss of profits, goodwill, use, data or other intangible losses (even if AW has been advised of the possibility of such damages), resulting from the use or the inability to use the AW service.</p>

<h2>Notice and procedure for making claims of copyright infringement</h2>

<p>AW respects the copyright of others, and we ask our users to do the same. AW may, in appropriate circumstances and at its discretion, disable and/or terminate the access of users who may be repeat infringers. If you believe that your work has been copied in a way that constitutes copyright infringement, please contact AW.</p>
</div>
<div class="col-lg-6">
<br />
<h1>Privacy Policy</h1>
<br />
<h2>What Data we collect and why we collect it</h2>
    <p>This Privacy Policy describes what data we collect and what it is used for.</p>
    <h2>What Data do we collect</h2>
    <p>This table outlines what Data The Albian Warp Gameserver collects</p>
    <table class="table">
        <tr>
            <th>Category</th>
            <th>What this Means</th>
            <th>How we collect it</th>
        </tr>
        <tr>
            <td>Account Information</td>
            <td>Username, email address, profile picture, passwords and security protocols of users who maintain an account for any of Albian Warps services.</td>
            <td>Through your active submission via the Registration Form when you create an account with Albian Warp.</td>
        </tr>
        <tr>
            <td>Game Information</td>
            <td>Messages, Creatures, and user specified data generated and sent either via the Albian Warp Game Client or Website</td>
            <td>Through your active submission via the corresponding Form on the Albian Warp Gameserver Website or via the Albian Warp Game Client.</td>
        </tr>
        <tr>
            <td>Log Records</td>
            <td>Log records contain your logged-in status, key value records and reference data regarding your interaction with Albian Warp, infrastructure and tools, those Information are tied to your <b>Account Information</b></b>. </td>
            <td>Through your interaction with Albian Warp either via the Albian Warp Gameserver Website or via the Albian Warp Game Client.</td>
        </tr>
    </table>

    <h2>How we use your Data and why.</h2>
    <p>This Table outlines What we use your Data for and why</p>
    <table class="table">
        <tr>
            <th>Purpose</th>
            <th>Categories of Data involved</th>
            <th>Why do we do this</th>
        </tr>
        <tr>
            <td>To provide you with access to AW Services</td>
            <td>Account Information</td>
            <td>The <i>Account Information</i>, especially the <b>Username</b> and <b>Password</b>, is used and needed to authenticate you as the owner of your account, and to protect your Account from unauthorized access.</td>
        </tr>
        <tr>
            <td>Troubleshooting</td>
            <td>Log Records</td>
            <td>We use Log Records to track issues that might be occurring on our systems and to track down or validate Terms of Service violations like attacks on our Service, Systems or Users.</td>
        </tr>
        <tr>
            <td>To provide you with the Albian Warp Service/Functionality</td>
            <td>Account Information, Game Information</td>
            <td>To be able to provide you and other Users with the functionality and service to send and receive <b>Creatures</b>, <b>Messages</b> and other <b>Game related data</b> we use and show your <b>Username</b> and <b>online status</b> to other logged in Users.<br />
            <b>Creatures</b> and <b>Messages</b> sent to you are associated with your Account Information so they can be received by you</td>
        </tr>
        <tr>
            <td>To Contact you</td>
            <td>Account Information</td>
            <td>We use your <i>Account Information</i>, especially your <b>Username</b> <b>email address</b> to contact you regarding your account. if you violate the ToS, reset your password, or to send you Security notices, Terms of Service update notices and Privacy Policy update notices.</td>
        </tr>
        <tr>
            <td>To Measure usage of Albian Warp</td>
            <td>Log Records, Game Information</td>
            <td><i>Log Records</i>, and <i>Game Information</i> are used to create anonymized statistics and charts. Said statistics and charts are made public on, but not limited to Albian Warp Services</td>
        </tr>
    </table>

    <h2>How long we store your Data</h2>
    <p>We will only retain your Personal Data for so long as we reasonably require it to use it for the purposes set out above.</p>
    <table class="table" >
        <tr>
            <th>Category of Data</th>
            <th>Retention Period</th>
        </tr>
        <tr>
            <td>Account Information</td>
            <td>Your Account Information will be deleted after 2 Years (730 Days) of inactivity, when your account is deleted all linked <i>Game Information</i> are permanently deleted as well (i.E. Creatures and Messages sent, to you/from you that are not yet received).</td>
        </tr>
        <tr>
            <td>Game Information</td>
            <td>Game Information is only kept as long as it needed, i.E. a sent <b>Creature</b> is permanently deleted from the Albian Warp Server once it is received by the recipient user, the same applies to <b>Messages</b> and all other Game related Data.</td>
        </tr>
        <tr>
            <td>Log Records</td>
            <td>We keep Log Records for a maximum of a Month (31 Days) after which they are automatically and permanently deleted.</td>
        </tr>
    </table>

    <h2>How we keep your Data secure</h2>
    <ul>
        <li>We have put in place appropriate security measures to prevent your Data from being accidentally lost, used or accessed in an unauthorized way, altered or disclosed.</li>
        <li>We limit access to your data to the people and staff that run Albian Warp and need to have such access. All such people are subject to a duty of confidentiality.</li>
        <li>We have put in place procedures to deal with any actual or suspected Personal Data breach. In certain circumstances (e.g., where we are legally required to do so) we may notify you of this breach using your <b>Account Information</b>.</li>
    </ul>

    <h2> What "Your Rights" are.</h2>

    <h3>Erasure.</h3>
    <p>You may have the right to request that we erase Personal Data we hold about you in certain situations. You can exercise these rights by contacting us at <a href="mailto:privacy@albianwap.com">privacy@albianwap.com</a>. If you don’t have any account with us, we don’t have a way to identify your data by name in our systems, so, in such case, we may need to request certain information from you to complete this request.</p>
    <p>When we receive any request to erase your Personal Data, we will try to comply with it as soon as reasonably practicable and (in any event) within forty-five (45) days.</p>
    <h3>Access.</h3>

    <p>In certain situations, you may have the right to request access to the Personal Data associated with your account and/or your Account. You can exercise this right by contacting us at <a href="mailto:privacy@albianwap.com">privacy@albianwap.com</a>. If you don’t have any account with us, we don’t have a way to identify your data by name in our systems, so, in such case, we may need to request certain information from you to complete this request.</p>
    <p>When we receive a request, pursuant to the previous paragraph, to provide you with the Personal Data associated with your account we will try to comply with it as soon as reasonably practicable and (in any event) within forty-five (45) days.</p>
    <h3>Correction and amendment.</h3>

    <p>If you have any account with us, you can correct your account information directly through your account. However, if you believe we hold information about you that that you are unable to correct or amend through your account, we recommend you contact us at: <a href="mailto:privacy@albianwap.com">privacy@albianwap.com</a>.</p>

    <h3>Complaints.</h3>
    <p>If you would like to make a complaint regarding this our Privacy Policy or our practices in relation to your Personal Data, please contact us at privacy@albianwarp.com.</p>
    <p>We will try to reply to your complaint as soon as as we can and (in any event) within forty-five (45) days.</p>
</div>
{% endblock %}